<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile Main" fileName="logs/system_notice.log"
                     filePattern="logs/system_notice.log.%d{yyyyMMdd-hh.mm.ss}.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

<!--第二個檔案-->
<!--        <RollingFile name="RollingFile Log2" fileName="logs/Log2.system_notice.log"-->
<!--                     filePattern="logs/Log2.system_notice.log.%d{yyyyMMdd-hh.mm.ss}.log">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
<!--            </PatternLayout>-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>-->
<!--                <OnStartupTriggeringPolicy/>-->
<!--            </Policies>-->
<!--        </RollingFile>-->
    </Appenders>

    <Loggers>
        <Logger name="com.andeji.Main">
            <AppenderRef ref="RollingFile Main"/>
        </Logger>

        <!--指定第二個class的appender-->
<!--        <Logger name="com.andeji.JavaA3Log2">-->
<!--            <AppenderRef ref="RollingFile Log2"/>-->
<!--        </Logger>-->

        <Root level="debug">
           <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>